* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    background-color: #eef;
    font-family: helvetica, arial, sans-serif;
}

ol, ul {
    list-style: none;
}

.dazibao > .tlvs {
    max-width: 800px;
    margin:auto;
}

.tlv {
    background-color: #fff;
    margin: 40px 0;
}

.tlv .type {
    display: none;
}

.subtlvs {
    border-left: 4px #AAA solid;
    padding-right: 4px;
}

.value {
    text-align: center;
    padding: 10px;
}

p, blockquote {
    text-align: left;
}

blockquote {
    font-size: 1.2em;
    font-family: georgia, serif;
    margin: 0;
    padding: 8px 14px;
}
blockquote .author {
    display: block;
    text-align: right;
}
blockquote .author span {
    text-align: left;
}
blockquote .sep {
    opacity: 0.2;
}

/* Actions bars */
.tlv .actions {
    visibility: hidden;
}

.tlv:hover > .actions {
    visibility: visible;
}

.actions li {
    cursor: pointer;
}

/* Modals */
.overlay {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 150px 0 0 0;
    background-color: transparent;

    text-align: center;
}

.modal {
    display: inline-block;
    background-color: #FFF;
    width: 400px;
    min-height: 300px;

    padding: 10px 6px;
    text-align:left;

    border: 1px solid lightblue;
    border-radius: 2px;
    box-shadow: 2px 2px 10px #333;
}

.modal .close.button {
    display: block;
    text-align: center;
    height: 15px;
    width:15px;
    margin-top: -7px;
    margin-left: -2px;
    cursor: pointer;
}

.modal h1 {
    margin-top: 5px;
}

/* Global settings */
#settings {
    position: fixed;
    top: 4px;
    left: 4px;
}
#settings .actions {
    display: none;
    margin-top: 0;
    margin-left: 5px;
    padding: 5px 10px 10px 10px;
}
#settings:hover .actions {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 100px;
}

.hidden { display: none; }
